@import "./../../app//automatic//theme.scss";

.pageHeader {
  :global(.ant-page-header) {
    padding: 5px 0;
  }
  :global(.ant-page-header-heading-title) {
    display: flex;
    height: 35px;
    padding: 0 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.noBottomBd {
  :global(.ant-page-header) {
    border-bottom: none;
  }
}

.searchBtn {
  display: flex;
  &>button {
    margin-left: 5px;
  }
}